{% extends "base.html" %}
{% block header %}
<script src="https://kit.fontawesome.com/a04af11849.js" crossorigin="anonymous"></script>
{% endblock %}
{% block main %}
<div class="d-flex vh-100">
    <div class="sidebar">
        <div class="header-box px-3 pt-3 pb-4 mb-4 text-center">
            <h1 class="fs-4">Sistema XYZ</h1>
        </div>
        <ul class="px-2">
            <li class="py-2">
                <a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-house"></i>
                    Dashboard</a>
            </li>
            <li class="py-2">
                <a href="{{ url_for('alunos') }}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-users fa-lg"></i> Alunos</a>
            </li>
            {% if current_user.papel == 'PROFESSOR' %}
            <li class="py-2">
                <a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-user fa-lg"></i>
                    Professores</a>
            </li>
            {% endif %}
            <li class="py-2">
                <a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-list fa-lg"></i> Diários</a>
            </li>
        </ul>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg" style="background-color: #55585a;" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ current_user.name }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-id-card"></i> Perfil</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Configurações</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out"></i> Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>    
    <!-- <a style="background-color: black;" href="{{ url_for('alunos') }}" class="text-decoration-none px-3 py-2 d-block"><i class="fa fa-users mx-2"></i> Alunos</a> -->
</div>
{% endblock %}