{% extends "admin.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="dashboard-content px-3 pt-4">
    <h2 class="fs-4">Cadastro de Alunos</h2>
    <hr>
    <form method="post" action="{{ url_for('alunos') }}" class="needs-validation" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" value="{% if form.id.data %}{{ form.id.data }}{% endif %}">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="inputMatricula" class="form-label">Matrícula</label>
                <input type="number" value="{% if form.matricula.data %}{{ form.matricula.data }}{% endif %}" required name="matricula" class="form-control" id="inputMatricula">
                <div class="invalid-feedback">
                    Por favor informe a matrícula.
                </div>
            </div>            
            <div class="col-md-6">
                <label for="inputNome" class="form-label">Nome</label>
                <input type="text" value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}" name="nome" required class="form-control" id="inputNome">
                <div class="invalid-feedback">
                    Por favor informe o nome do aluno.
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row g-3">
            <div class="col-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{{ url_for('alunos') }}" style="width: 100px" class="btn btn-secondary"
                        type="button">Cancelar</a>
                </div>
            </div>
            <div class="col-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" style="width: 100px" class="btn btn-dark" type="button">Salvar</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</div>
{% endblock %}