<h2 class="fs-4">Cadastro de Alunos</h2>
<hr>
<form class="needs-validation" novalidate>
    {{ form.csrf_token }}
    <input type="hidden" value="{% if form.id.data %}{{ form.id.data }}{% endif %}">
    <div class="row g-3">
        <div class="col-md-6">
            <label for="inputMatricula" class="form-label">Matrícula</label>
            <input type="number" value="{% if form.matricula.data %}{{ form.matricula.data }}{% endif %}" required
                name="matricula" class="form-control" id="inputMatricula">
            <div class="invalid-feedback">
                Por favor informe a matrícula.
            </div>
        </div>
        <div class="col-md-6">
            <label for="inputNome" class="form-label">Nome</label>
            <input type="text" value="{% if form.nome.data %}{{ form.nome.data }}{% endif %}" name="nome" required
                class="form-control" id="inputNome">
            <div class="invalid-feedback">
                Por favor informe o nome do aluno.
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row g-3">
        <div class="col-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/alunos" style="width: 100px" class="btn btn-secondary" type="button" data-link>Cancelar</a>
            </div>
        </div>
        <div class="col-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" style="width: 100px" class="btn btn-dark" type="button">Salvar</button>
            </div>
        </div>
    </div>
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const form = document.querySelector('.needs-validation')

        // Loop over them and prevent submission
        form.addEventListener('submit', event => {
            event.preventDefault();
            event.stopPropagation();

            if (!form.checkValidity()) {
                form.classList.add('was-validated');
                return false;
            }

            var formData = new FormData(form);

            fetch("/alunos",
                {
                    body: formData,
                    method: "post"
                }).then(resp => {
                    navigateTo('/alunos');
                });

            return false;
        }, false)

    })()
</script>